
// 公共部分

.layer{
  margin: 0 3vw;

}
body{

}

// 头部
.logo{
  width: 100%;
  height: 100%;
}


// 公共flex
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
// 公共外边距
.margin_10{
  margin: 10px;
}
.margin_20{
  margin: 20px;
}

.margin_30{
  margin: 30px;
}

.margin_40{
  margin: 40px;
}

.margin_50{
  margin: 50px;
}
.MT_10{
  margin-top: 10px;
}
.MT_20{
  margin-top: 20px;
}
.MT_30{
  margin-top: 30px;
}
.MT_40{
  margin-top: 40px;
}
.MT_50{
  margin-top: 50px;
}
.MR_10{
  margin-right: 10px;
}
.MR_20{
  margin-right: 20px;
}
.MR_30{
  margin-right: 30px;
}
.MR_40{
  margin-right: 40px;
}
.MR_50{
  margin-right: 50px;
}

.MB_10{
  margin-bottom: 10px;
}
.MB_20{
  margin-bottom: 20px;
}
.MB_30{
  margin-bottom: 30px;
}
.MB_40{
  margin-bottom: 40px;
}
.MB_50{
  margin-bottom: 50px;
}

.ML_10{
  margin-left: 10px;
}
.ML_20{
  margin-left: 20px;
}
.ML_30{
  margin-left: 30px;
}
.ML_40{
  margin-left: 40px;
}
.ML_50{
  margin-left: 50px;
}




// 公共内边距
.padding_10{
  padding: 10px;
}
.padding_20{
  padding: 20px;
}
.padding_30{
  padding: 30px;
}
.padding_40{
  padding: 40px;
}
.padding_50{
  padding: 50px;
}

.PT_10{
  padding-top: 10px;
}
.PT_20{
  padding-top: 20px;
}
.PT_30{
  padding-top: 30px;
}
.PT_40{
  padding-top: 40px;
}
.PT_50{
  padding-top: 50px;
}

.PR_10{
  padding-right: 10px;
}
.PR_20{
  padding-right: 20px;
}
.PR_30{
  padding-right: 30px;
}
.PR_40{
  padding-right: 40px;
}
.PR_50{
  padding-right: 50px;
}

.PB_10{
  padding-bottom: 10px;
}
.PB_20{
  padding-bottom: 20px;
}
.PB_30{
  padding-bottom: 30px;
}
.PB_40{
  padding-bottom: 40px;
}
.PB_50{
  padding-bottom: 50px;
}

.PL_10{
  padding-left: 10px;
}
.PL_20{
  padding-left: 20px;
}
.PL_30{
  padding-left: 30px;
}
.PL_40{
  padding-left: 40px;
}
.PL_50{
  padding-left: 50px;
}


